.team-container {
    border-radius: 0;
    display: flex;
    gap: 40px 100px;
    font-family: Lato, sans-serif;
    flex-wrap: wrap;
  }
  
  .team-header {
    align-self: start;
    display: flex;
    margin-top: -7px;
    flex-direction: column;
    font-size: 65px;
    color: rgba(0, 40, 85, 1);
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    line-height: 1;
  }
  
  @media (max-width: 991px) {
    .team-header {
      font-size: 40px;
      white-space: initial;
    }
  }
  
  .team-title {
    transform: rotate(-0.00008977119408414297Rad);
  }
  
  @media (max-width: 991px) {
    .team-title {
      font-size: 40px;
    }
  }
  
  .underline {
    margin-top: 38px;
    width: 81px;
    height: 17px;
    border: 17px solid rgba(255, 127, 9, 1);
  }
  
  .team-description {
    transform: rotate(-0.00008977119408414297Rad);
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 300;
  }
  
  @media (max-width: 991px) {
    .team-description {
      max-width: 100%;
    }
  }