@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.hero {
  background: url(./images/hero-bg.svg) top center no-repeat;
  background-size: cover;
}




.hero-background {
  background-image: src('../../../Images/BACKGROUND.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Adjust as needed */
}
body {
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.page-container {
  position: relative;
  min-height: auto;
}
